<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pertamini Web</title>
</head>

<body>
    <div class="overflow-x-auto">
        <table class="table w-full">
            <!-- head -->
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Nominal</td>
                    <td>Waktu</td>
                </tr>
            </thead>
            <tbody>
                <% log.forEach(data=> { %>
                    <tr>
                        <td>
                            <%= data.id %>
                        </td>
                        <td>
                            <%= data.nominal %>
                        </td>
                        <td>
                            <%= data.waktuBeli %>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
    </div>

    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.52.0/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>

</body>

</html>